.body{
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
    background:  url("assets/stars.png"), linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    text-align: center;
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
    color: rgba(255, 220, 140, 0.84);
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: darkorchid;
}
.textarea{
    width: 1000px;
    height: 12em;
    background-color: lavender;
    border-radius: 40px;
    border: 4px double rgba(255, 220, 140, 0.84);
    margin: auto;
    background-image: url("assets/sailor_moon.png");
    background-position: right;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: contain;
    background-blend-mode: overlay;
    margin-bottom: 50px;
    padding: 10px;
}
.keyboard-wrapper{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.keyboard-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.key{
    height: 60px;
    width: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("assets/heart.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    user-select: none;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8em;
    color: blueviolet;

}
.key:active{
    background-image: none;
}

.twinkle{
    transition-duration: 0s;
    transform: scale(0);
    position: absolute;
    left: -500px;
    top: -500px;
    user-select: none;
    z-index: 2;
}
.dotwinkle{
    transform: scale(0.3);
    transition: 0.2s ease-in-out;
    user-select: none;
}
.footer{
    text-align: center;
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    color: rgba(255, 220, 140, 0.84);
}

#key-Enter{
    width: 80px;
    background-image: url("assets/enter.png");
}
#key-Space{
    width: 480px;
    background-image: url("assets/space.png");
    background-size: cover;
    color: transparent;
    background-position: center;
}

#key-Shift{
    width: 130px;
    background-image: url("assets/shift.png");
    background-size: cover;
}
#key-Ctrl,
#key-Win,
#key-Del,
#key-Alt,
#key-Tab{
    background-image: url("assets/specialbuttons.png");
    background-size: cover;
}

